<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.anjana.pescom"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OTPActivity"
            android:label="@string/title_activity_otp"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".activity.VoipActivity"
            android:label="@string/title_activity_voip"
            android:theme="@style/AppTheme.Dark"/>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
            android:name=".activity.IncomingCallActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".activity.ContactsTabActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".activity.ChatActivity"
            android:parentActivityName=".activity.ContactsTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContactsTabActivity"
                />
        </activity>

        <activity android:name=".activity.SettingsActivity">
        </activity>

        <service
            android:name=".service.ServerRequestService"
            android:exported="false"/>
        <service
            android:name=".service.CallListenerService"
            android:exported="false"/>
        <service
            android:name=".service.CallMakerService"
            android:exported="false"/>
        <service
            android:name=".service.PushService"
            android:exported="false"
            android:process=":push"/>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>